* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}
.screen-container {
    width: 100%;
    max-width: 414px;
    min-height: 100vh;

    background-color: #FF5F5F;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    padding-top: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
}

.logo img {
    width: 110px;
}

.logo h1 {
    font-family: "Cherry Bomb One", cursive;
    font-size: 40px;
    color: white;
    margin-bottom: 35px;
}

.switcher {
    width: 90%;
    max-width: 330px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.sw-btn {
    width: 48%;
    height: 42px;
    border-radius: 10px;
    border: none;
    background-color: #FF7A7A;
    color: white;
    font-weight: 800;
}

.sw-btn.active {
    background-color: white;
    color: #FF5F5F;
}

.form {
    width: 90%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 0 15px;
    border: none;
    text-align: center;
}

.forgot {
    text-align: right;
    font-size: 11px;
    color: white;
    margin-top: -5px;
}

.register-btn {
    width: 100%;
    height: 48px;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: #FF5F5F;
    font-size: 16px;
    font-weight: 800;
}

.bottom-text {
    margin-top: 25px;
    font-size: 12px;
    color: white;
}

.bottom-text a {
    pointer-events: none;
    text-decoration: none;
    color: white;
    font-weight: 800;
}

@media (min-width: 600px) and (max-width: 899px) {

    body {
        background: #ffffff; /* поза рамкою біле */
    }

    .screen-container {
        max-width: 600px;
        border-radius: 40px;
        box-shadow: 0 0 25px rgba(0,0,0,0.15);

        padding-top: 95px;
    }

    .logo img { width: 150px; }
    .logo h1 { font-size: 55px; }
    .sw-btn { height: 50px; font-size: 18px; }
    .form input { height: 55px; font-size: 17px; }
    .register-btn { height: 55px; font-size: 18px; }
}

@media (min-width: 900px) {

    body {
        background: #FF5F5F;
    }

    .screen-container {
        max-width: 430px;
        min-height: 65vh;
        border-radius: 0;
        box-shadow: none;
        padding-top: 60px;
    }

    .logo img { width: 170px; }
    .logo h1 { font-size: 60px; }

    .sw-btn { height: 55px; font-size: 19px; }
    .form input { height: 55px; font-size: 17px; }
    .register-btn { height: 58px; font-size: 19px; }
}

